@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
body {
 
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    direction: rtl;
}
a,h1,h2,h3,h4,p,button{
  font-family: 'Cairo', sans-serif !important;
}

:root{
  --main-color:#019FFE;
}
.section-head span{
  display: block;
  width: 90px;
  height: 9px;
  background-color: var(--main-color);
  margin-bottom: 15px;
}
.section-head  h2{
  font-size: 3.375rem ;
  font-weight: 700;
}
.section-head   p{
 font-size:  1.375rem;
  color: #9B9B9B;
}

@media (min-width: 100px) { 
  html{
    font-size: 10px !important;
  }
 }


@media (min-width: 768px) {html{
  font-size: 12px !important;
}  }


@media (min-width: 992px) { html{
  font-size: 14px !important;
} }


@media (min-width: 1200px) {html{
  font-size: 16px !important;
}  }


@media (min-width: 1400px) { html{
  font-size: 16px !important;
} }